---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prometheus-operator
  namespace: monitoring
spec:
  interval: 21m
  releaseName: prometheus-operator
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      version: "12.8.0"
      interval: 30m
  values:
    alertmanager:
      config:
        global:
          resolve_timeout: 5m
        route:
          group_by: [ 'job' ]
          group_wait: 30s
          group_interval: 5m
          repeat_interval: 12h
          receiver: 'null'
          routes:
            - match:
                alertname: Watchdog
              receiver: 'null'
        receivers:
          - name: 'null'
#          - name: 'alerts'
#            slack_configs:
#              # Create a secret with this webhook
#              - api_url: 'https://hooks.slack.com/services/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'
#                channel: '#k8s-demo'
#                send_resolved: true
      ingress:
        enabled: true
        hosts:
          - alertmanager.adimen.local
    grafana:
      enabled: true
      ingress:
        enabled: true
        ingressClassName: nginx
        hosts:
          - grafana.adimen.local
    kubeControllerManager:
      enabled: true
    kubeEtcd:
      enabled: true
    prometheus:
      ingress:
        enabled: true
        ingressClassName: nginx
        hosts:
          - prometheus.adimen.local
